<form id="add-task">
  <!-- Select projects -->
  <mat-form-field class="projects full-width">
    <mat-select placeholder="Project">
      <mat-option *ngFor="let project of projects" [value]="project">
        {{ project }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput type="text" placeholder="Task" required>
  </mat-form-field>

  <!-- chip list (typing techs) -->
  <mat-form-field class="full-width">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tech of technologies" [selectable]="selectable"
                [removable]="removable" (removed)="remove(tech)">
        {{tech.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Technologies"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-list>
  </mat-form-field>

  <!-- Describe the task -->
  <mat-form-field class="full-width task-desc">
    <textarea matInput placeholder="Describe the task"></textarea>
  </mat-form-field>

  <!-- Checkbox (test) -->
  <mat-checkbox required="yes">Subscribe to newsletter</mat-checkbox>
  <br>

  <!-- King of tasks -->
  <div class="king-of-tasks">
    <h2>Empfehlung:</h2>
    <img class="profile-img left" src="assets/images/dummy-profile.png" alt="King of Tasks">
    <h3>Hans Muster</h3>
    <div class="stars" matTooltip="57 Bewertungen">
      <div class="stars-pos" *ngFor="let star of [0, 1, 2, 3]">
        <i class="material-icons">star</i>
      </div>
      <i class="material-icons">star_border</i>
    </div>
    <strong>Technologien:</strong> HTML, CSS, JavaScript
  </div>

  <!-- submit -->
  <button mat-raised-button class="full-width" color="primary">Send the task</button>
</form>