<form id="add-user">
    <ng-template #emailTmpl>
        <mat-form-field class="email full-width">
            <input autofocus #email matInput class="email-field" type="email" required placeholder="E-Mail">
        </mat-form-field>
    </ng-template>
    <div #furtherEmails></div>
</form>
<i class="material-icons icon" id="addEmailField" (click)="clone()">add_box</i>

<button mat-raised-button class="full-width" color="primary">Invite</button>