/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import '~material-design-icons/iconfont/material-icons.css'

$color-black: #545454

body
  font-family: Roboto,"Helvetica Neue",sans-serif
  color: $color-black
h3
  margin: 0
.full-width
  width: 100%
.center
  margin: 0 auto
  display: block
.left
  float: left